<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

        
        <script src ="../script/modif.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <link rel="stylesheet" href ="../gestion.css">
    {%if app.user.username == "gast34"%}
        <script src ="../script/generation.js"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2tZpX31pxKdUuGC9w4u-zPnqbwSWSMSg&callback=initMap">
        </script>
        <script src ="../script/map_gestion.js"></script>
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 70%; width:50%}
        </style>
        
        <div class="row">
        <div class="col-xs-4 center">
            <h3>Générer un compte :</h3> <br>
        {{form(form_user)}}        
        <input id ="gene" type ="button" value ="Générer un mot de passe"/><br>
        <input id ="ajout" type ="button" value ="Ajouter"/><br>
        </div>

        <div class="col-xs-8 scrollable">
            {%set i = 0%}
            {%for resultats in users %}
            {%set i = i + 1%}

            {%if i != 1%}
                <div class = "div-user">
                    <a href = "supprimer/users/{{resultats.username}}"><input class="suppr" type="button" value="Supprimer"/></a>
                    Nom : {{resultats.username}}<br>
                    Mot de Passe : {{resultats.password}}<br>
                    Email: {{resultats.mail}}<br>

                </div>
            {%endif%}

        {%endfor%}

        </div>
        </div>

        <div class="devis row">
        <form id = "envoy" method="post" action="ajoutDevis" enctype="multipart/form-data">
            <div class="col-xs-5"><h3>Envoyer un devis à:</h3>
                
            <select id = "choix" name="select">

                {%set x = 0%}
                {%for resultats in users%}
                    {%set x = x + 1%} 

                    {%if x != 1%}
                        <option value="{{resultats.username}}">{{resultats.username}}</option>

                    {%endif%}

                {%endfor%}
            </select></div>

            <div class="col-xs-5"><h3>Ajouter un fichier:</h3><input type="file" id="fichier" name = "devis" /></div>
            <div class="col-xs-2"><h3>Envoyer !</h3><input type="submit" value ="Ok !"/></div>
        </form>
</div>
      <div class="marg-map">   
        <div class="col-xs-6" id ="map"></div>
        <div class="col-xs-6">
        <div class="center">
        Ajouter un points de vente :
        <input type="text" id="description" placeholder="Déscription du point de vente"/>
        <input type="text" id="adresse" placeholder="Adresse du point de vente"/>
        <input type="button"  value="Localiser sur Google Map" onclick="TrouverAdresse();"/>
        </div>
        {%set i = 0%}

        <div class="liste-points">
        {%for result in points%}
            {%set i = i + 1%}    

            <div class = "div-user">
                <a href = "supprimer/points/{{result.description}}"><input class="" type="button" value="Supprimer"/></a>

                <div class = "description{{i}}" >
                    {{result.description}}
                </div>
                <div class = "adresse{{i}}">
                    {{result.adresse}}
                </div>
                <div class = "longitude{{i}}">
                    {{result.longitude}}
                </div>
                <div class = "latitude{{i}}">
                    {{result.latitude}}  
                </div>


            </div>

        {%endfor%}
        </div>
                </div>
      </div>

        <div id = "val" style="display:none">{{i}}</div>

        <br>

    {%else%}
        <div id ="username" >{{app.user.username}}</div>
        <input id="modif" type="button" value="Modifier mot de passe"/><br>

        <div id="form_modif" style="display:none">

            <input id ="modif_pass_actu" type="password" placeholder="Mot de pass actuel"/><br>
            <input id ="modif_pass_new" type="password" placeholder="Nouveau mot de passe"/><br>
            <input id ="modif_pass_new_conf" type="password" placeholder="Confirmer nouveau mot de passe"/><br>
            <input id ="modif_conf" type="button" value="Confirmer"/>

        </div>




        Recup devis
        {%for resultsDevis in devis%}
            {% if app.user.username == resultsDevis.Prop%}
                <a href ="../{{resultsDevis.src}}">{{resultsDevis.Nom}}</a>
            {%endif%}

        {%endfor%}
    {%endif%}
</body>

